<div class="item">
  <form>
  <ion-checkbox
    [id]="item.description"
    (change)="toggleDone(item)"
    [checked]="item.done"
    labelPlacement="end"
  >{{item.description}}</ion-checkbox>
  </form>
  

  <div class="btn-wrapper" *ngIf="!editable">
    <ion-button class="itemBtn" (click)="editable = !editable">Edit</ion-button>
    <ion-button class="itemBtn" (click)="removeItem(item)">Delete</ion-button>
  </div>

  <!-- This Section Shows up only on edit mode because of the *ngIf directive-->
  <div *ngIf="editable">
    <ion-input
      name="editedItemValue"
      type="text"
      placeholder="Edit Item"
      (keyup.enter)="saveItem(editedItemValue)"
      [(ngModel)]="editedItemValue"
    />

    <div class="btn-wrapper">
      <ion-button class="itemBtn" (click)="editable = !editable"
        >Cancel</ion-button
      >
      <ion-button class="itemBtn" (click)="saveItem(editedItemValue)"
        >Save</ion-button
      >
    </div>
  </div>
</div>
